.weather-header {
    background-image: linear-gradient(to right, #3361BA, #210C4F);
}

.input-group {
    display: block;
}

.input-group-append {
    margin-top: 20px;
}

/* Search button styling is here*/
#search-button {
    width: 100%;
    background-color: #5098E6;
}

/* Button styling is here*/
.new-city-btn {
    margin-top: 20px;
}

/* Search field styling */
#search-input {
    width: 100%;
    border-radius: 5px;
    border: #AEAEAE solid 1px;
    height: 45px;
}

.card {
    padding: 5px
}